<div class="headerDiv clearfix">

  <h1 class="headerH1">Myths of the World</h1>
</div>
<div class="mainPageDiv">


<button class="mythButton">
  <%= link_to 'Home', creatures_path %>
</button>
<%= form_for @comment, url: creature_comment_path(@creature, @comment), method:"put" do |f| %>
<p>
  <%= f.label :commenter %><br>
  <%= f.text_field :commenter %>
</p>
<p>
  <%= f.label :body %><br>
  <%= f.text_area :body %>
</p>
<p>
  <%= f.submit class: 'mythSubmit'%>
</p>
<% end %>
</div>
