<div class="headerDiv clearfix">

  <h1 class="headerH1">Mythical Creatures</h1>
</div>

<div class="mainPageDiv showPageDiv">

  <button class="mythButton">
    <%= link_to 'Home', creatures_path %>
  </button>
  <p>
    <strong>Name:</strong>
    <%= @creature.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @creature.description %>
  </p>

  <p>
    <strong>Image:</strong><br>
    <img class="homeImages"src="<%= @creature.image %>" alt="" />
  </p>


  <h2>Add a comment:</h2>
  <%= form_for([@creature, @creature.comments.build]) do |f| %>
  <% if @creature.errors.any? %>

  <div id="error_explanation">
    <h2>
      <%= pluralize(@creature.errors.count, "error") %> prohibited
      this creature from being saved:
    </h2>
    <ul>
      <% @creature.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit  class: 'mythSubmit'%>
  </p>
  <% end %>



  <h2>Comments <span class="fa fa-comment"></span> <%=  @creature.comments.size - 1 %></h2>


  <% @creature.comments.each do |comment| %>
  <% if comment.id %>


  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <button class="mythButton">
    <%= link_to 'Edit', edit_creature_comment_path(@creature, comment) %>
  </button>&nbsp;

  <% end %>


  <% if comment.id %>
  <button class="mythButton">
    <%= link_to 'Destroy', creature_comment_path(@creature, comment),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
  </button>

  <% end %>


  <% end %>
</div><br>
